@use '../general.scss' as *;
@use './variables' as *;

//formattazione per file schede
.carta {
    cursor: pointer;

    &:hover {
        box-shadow: 10px 10px 5px #dedede;
    }
}

#schede {
    .carta {
        padding: 20px 30px;
        background-color: rgb(245, 245, 245);
        border-radius: 15px;
        margin: 0 15px;
        color: rgb(117, 117, 117);
        margin-bottom: 10px;

        .immagine {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid rgb(117, 117, 117);
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            margin-bottom: 20px;
        }

        h5 {
            font-size: 30px;
            font-weight: lighter;
        }

        p {
            font-size: 12px;
            line-height: 180%;
        }
    }
}

// work parallasse
#parallasse {

    .carta {
        color: $color-primary;
        text-align: center;

        &:hover {
            box-shadow: none;
            color: white;
        }

        .immagine {

            font-size: 55px;

        }

        h5 {
            font-size: 50px;
            font-weight: lighter;
        }

        p {
            font-size: 16px;
            color: white;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}

//core
#core {
    .scheda:nth-child(1) .immagine {
        background-color: $color-S1;
    }

    .scheda:nth-child(2) .immagine {
        background-color: $color-S2;
    }

    .scheda:nth-child(3) .immagine {
        background-color: $color-S3;
    }

    .scheda:nth-child(4) .immagine {
        background-color: $color-S4;
    }

    .carta {
        max-width: 200px;

        &:hover {
            box-shadow: none;
            color: $color-primary;
        }

        .immagine {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: aqua;
            color: white;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            margin-bottom: 20px;
        }

        h5 {
            position: relative;
            margin: 0 auto;
            font-size: 16px;
            font-weight: lighter;
            text-align: center;
            padding-bottom: 20px;
            margin-bottom: 30px;

            // bordo inferiore
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 15%;
                height: 2px;
                background-color: rgb(134, 134, 134);

            }
        }

        p {

            font-size: 12px;
            line-height: 180%;
        }
    }
}

// news
#news {

    .carta {
        text-align: left;
        color: rgb(134, 134, 134);
        width: 300px;
        background-color: #fff;
        margin-bottom: 60px;

        .immagine {
            width: 100%;
            margin-bottom: 30px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        h5 {
            font-weight: lighter;
            font-size: 20px;
            padding: 0 15px;
            margin-bottom: -5px;
        }

        small {
            padding: 0 15px;
            font-size: 9px;

        }

        p {
            margin-top: 20px;
            padding: 20px 15px;
            font-size: 16px;
            line-height: 180%;
            position: relative;

            // bordo superiore
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                height: 2px;
                background-color: rgb(243, 243, 243);

            }
        }
    }

}