//font

$main-font: 'Montserrat', sans-serif;


//colors

$bg-color-W: #FFFFFF;
$bg-color-G: #F5F5F5;
$color-primary: #fed03d;
$color-second: #333333;
$color-violet: #55328B;
$color-text: #1F1F1F;
$color-S1: #21A6B5;
$color-S2: #517AD2;
$color-S2: #FE813E;
$color-S4: #84CB01;

//dimensions

$h-header: 100px;