@use './partials/variables' as *;

//bootastrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//importo font monserrat con npm install @fontsource-variable/montserrat

@import '../../node_modules/@fontsource-variable/montserrat/index.css';
@import '../../node_modules/@fontsource-variable/montserrat';

// generali

body {
    font-family: $main-font;
    color: $color-text;
    background-color: $bg-color-W;
    font-weight: lighter;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.orizontal {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

section a {
    color: rgb(16, 113, 163);
}

.green {
    color: green;
}

// bottoni
button {
    text-transform: uppercase;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: lighter;

    &.yellow,
    &.gray:hover {
        background-color: $color-primary;
        color: $color-second;
    }

    &.gray,
    &.yellow:hover {
        background-color: $color-second;
        color: white;
    }

    &.big {
        font-size: 14px;
        padding: 10px 20px;
    }
}


// footer
footer {

    h4 {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bolder;
        margin-bottom: 20px;
    }
}